<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <img src="img/tictac-logo.png" width="348" alt="Логотип" class="page-header__logo-image" />
            <nav class="page-header__nav">
                <div class="page-header__nav-inner">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link js-tab-nav">
                                Торговый представитель
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link js-tab-nav">
                                Супервайзер
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link js-tab-nav">
                                АСМ
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link js-tab-nav">
                                ЛКАМ
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link" target="_blank">
                                Правила
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <a href="#" class="page-header__burger js-burger">
                <span class="page-header__burger-inner">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
        </div>
    </div>
</header>
